#pragma once
#include "Runtime/Core/Meta/Reflection/Reflection.h"
#include "_generated/serializer/all_serializer.h"
{{#include_headfiles}}
#include "{{headfile_name}}"
{{/include_headfiles}}

namespace MarsEngine{
namespace Reflection{
    void TypeMetaRegister::metaRegister(){
        {{#sourefile_names}}TypeWrappersRegister::{{sourefile_name_upper_camel_case}}();
        {{/sourefile_names}}
    }
}
}