[submodule "MarsEngine/vendor/spdlog"]
	path = MarsEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "MarsEngine/vendor/GLFW"]
	path = MarsEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "MarsEngine/vendor/imgui"]
	path = MarsEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
